### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [164]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [165]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [166]:
unique_list = purchase_data["SN"].unique()
total_players = len(unique_list)
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [167]:
# find the average price
average_price = purchase_data["Price"].mean()
#unique items
unique_items = purchase_data["Item ID"].unique()
count_unique_items = len(unique_items)
# Number of purchases
total_purchases = purchase_data["Item ID"].count()
# Total revenue
total_revenue = purchase_data["Price"].sum()
# New data frame
summary_df = pd.DataFrame({"Number of Unique Items": [count_unique_items],
                          "Average Price": [average_price],
                          "Number of Purchases": [total_purchases],
                          "Total Revenue": [total_revenue],})
# Format data frame
summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue':"${:,.2f}",})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [168]:
# Group by gender
gender_df = purchase_data.groupby("Gender")
# Count unique SN don't count more than one time buyers repetedly
no_dupes = gender_df["SN"].nunique()
# Calculate perecentage of player by gender
percentage_gender = (no_dupes / total_players)*100
# Create new data frame
gender_demographics = pd.DataFrame({"Total Players": no_dupes, "Percentage": percentage_gender,})
# Format data frame
gender_demographics.style.format({"Percentage":"{:.2f}%",})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [169]:
# purchase count
purchase_count = gender_df["Purchase ID"].count()
# Average purchase price
avg_purchase_price = gender_df["Price"].mean()
# Total purchase value
total_purchase_value = gender_df["Price"].sum()
# Avg Total Purchase per Person
avg_total_person = total_purchase_value/no_dupes

# Create new data frame
purchasing_analysis = pd.DataFrame({
    "Purchase Count": purchase_count, 
    "Average Purchase Price": avg_purchase_price,
    "Total Purchase Value": total_purchase_value,
    "Average Total Purchase per Person": avg_total_person,})

# Format data frame
purchasing_analysis.style.format({"Average Purchase Price":"${:.2f}",
                                 "Total Purchase Value":"${:.2f}",
                                 "Average Total Purchase per Person":"${:.2f}",})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [170]:
# Establish bins and name for each bin
bins = [0,9,14,19,24,29,34,39,100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
# Categorize players using bins
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_names)
# Group players by age
age_groups_df = purchase_data.groupby("Age Group")
# Count grouped
segmented_count = age_groups_df["SN"].nunique()
# Calculate average ofeach group
segmented_avg = (segmented_count/total_players) * 100
# Create new Data frame
age_demographics = pd.DataFrame({
                                "Total Count": segmented_count,
                                "Percentage of Players": segmented_avg,})

# Format percentage with two decimal places 
age_demographics.style.format({"Percentage of Players":"{:,.2f}%",})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [175]:
# Using previous already grouped data in bins
# Count purchases
seg_purchase_count = age_groups_df["Purchase ID"].count()
# Find average purchase price
seg_avg_purchase_price = age_groups_df["Price"].mean()
# Find total for each group
seg_total_purchase_value = age_groups_df["Price"].sum()
# Find average per person in each group
seg_avg_purchase_total_person = seg_total_purchase_value/segmented_count

# Create new data frame
purchasing_analysis_age = pd.DataFrame({
    "Purchase Count": seg_purchase_count, 
    "Average Purchase Price": seg_avg_purchase_price,
    "Total Purchase Value": seg_total_purchase_value, 
    "Avg Total Purchase per Person": seg_avg_purchase_total_person,})

# Format data 
purchasing_analysis_age.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Avg Total Purchase per Person":"${:,.2f}",})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [172]:
# Group Individuals so all stats are together
ind_spend = purchase_data.groupby("SN")
# Count purchases by individual
ind_spend_count = ind_spend["Purchase ID"].count()
# Calculate average spend.
ind_avg_spend = ind_spend["Price"].mean()
# Individual Total Spend
ind_total_spend = ind_spend["Price"].sum()

# Create new Data Frame
top_spenders = pd.DataFrame({
    "Purchase Count": ind_spend_count, 
    "Average Purchase Price": ind_avg_spend,
    "Total Purchase Value": ind_total_spend,})

# Sort descending using the total purchase value column
sorted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False)

# Format Data
sorted_spenders.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",})
# Display a preview
sorted_spenders.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [180]:
# Perform calculations
items_df = purchase_data[["Item ID", "Item Name", "Price"]]
items_grpd = items_df.groupby(["Item ID", "Item Name"])
item_count = items_grpd["Item ID"].count()
item_total = items_grpd["Price"].sum()
item_avg =  item_total/item_count

# Create new Data frame
popular_items = pd.DataFrame({
    "Purchase Count": item_count,
    "Item Price": item_avg,
    "Total Purchase Value": item_total,})

# Format the data (Even though it's not working!)
popular_items.style.format({"Item Price":"${:,.2f}",
                          "Total Purchase Value":"${:,.2f}"})

# Sort info by purchase count column
sorted_items = popular_items.sort_values(["Purchase Count"], ascending=False)

# Display a preview
sorted_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [181]:
# Re sort previous data frame
re_sorted_items = popular_items.sort_values(["Total Purchase Value"], ascending=False)
# Format data frame (Also not working here!!!!!)
re_sorted_items.style.format({"Item Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})
# Display preview
re_sorted_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80